---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Change Password">
  <section class="m-auto border-2 p-8 rounded-2xl max-w-md mt-10">
    <header class="mb-4">
      <h1 class="text-4xl font-bold">Change Password</h1>
      <p>Enter your email to change your password</p>
    </header>

    <form>
      <label for="password" class="block mb-2">
        New password
        <input
          name="password"
          type="password"
          placeholder="••••••••"
          minlength="6"
          required
          class="border p-2 w-full mb-4 rounded-lg"
        />
      </label>
      <label for="confirm-password" class="block mb-2">
        Confirm password
        <input
          name="confirm-password"
          type="password"
          minlength="6"
          required
          placeholder="••••••••"
          class="border p-2 w-full mb-4 rounded-lg"
        />
      </label>
      <button
        type="submit"
        id="change-password"
        class="bg-blue-500 text-white px-4 py-2 rounded"
      >
        Reset Password
      </button>
    </form>
  </section>
</Layout>

<script>
  import { actions } from 'astro:actions';

  const form = document.querySelector('form') as HTMLFormElement;
  const button = document.querySelector(
    '#change-password'
  ) as HTMLButtonElement;

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    const hash = window.location.hash.substring(1); // Quita el #
    const params = new URLSearchParams(hash);
    console.log(params);

    const accessToken = params.get('access_token');
    const refreshToken = params.get('refresh_token');
    // const expiresAt = params.get('expires_at');
    // const expiresIn = params.get('expires_in');
    // const tokenType = params.get('token_type');
    // const type = params.get('type');

    if (!(accessToken || refreshToken)) {
      alert('Your password reset link is invalid or has expired.');
      return;
    }

    const password = formData.get('password');
    console.log(password);

    const confirmPassword = formData.get('confirm-password');

    if (password !== confirmPassword) {
      alert('Passwords do not match.');
      return;
    }

    // if (password.length() < 6) {
    //   alert('Passwords must be at least 6 characters long.');
    //   return;
    // }

    const credentials = {
      accessToken: accessToken as string,
      refreshToken: refreshToken as string,
      password: password as string,
    };

    const { error: changePasswordError } =
      await actions.changePassword(credentials);

    if (changePasswordError) {
      alert(changePasswordError.message);
      return;
    }

    alert('Your password has been changed successfully.');
    form.reset();
    window.location.replace('/');
  });
</script>
